{% extends 'icu/base.html' %}
{% block content %}
    <a href=/icu/englishStudy/edit>
        <button class="btn btn-info">新增双语段落</button>
    </a>
    <a href=/icu/englishStudy/list>
        <button class="btn btn-info">显示双语学习列表</button>
    </a>

    <style>

        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
        }

    </style>

    <hr/>
    <pre>
全部原文:
{{ bil.src }}
</pre>
    <br/>
    <hr>
    <br/>
    <pre>
全部译文:
{{ bil.dst }}
</pre>
    <br/>
    <hr>
    <br/>
    <pre>
逐句翻译:
{{ bil.bil }}
</pre>
    <br/>

    <br/><a href="/icu/englishStudy/edit/{{ bil.id }}">重新修改</a>


{% endblock %}


