{% extends 'icu/base.html' %}
{% block content %}
<br>
<style type="text/css">
.red {
	color: #F00;
}
</style>
    <h3>
        <strong>重症医学是一个最容易产生数据的学科</strong>:</h3>
<ul>
    <li>患者的每一次心率、脉氧变化最终都会产生大量的数据</li>
    <li>麻省理工学院开发了<span class="red">MIMIC-III数据库</span>。利用患者的数据，分析大数据，才能不断总结和前行</li>
    <li>保存和使用我们自己的数据，就成为我们中国重症医学人的目标</li>
    <li>此网站用于保存重症医学质量控制相关的数据，并且使用excel表格形式导出到本地</li>
    <li>网站的功能，会随着需求不断地改进，<span class="red">欢迎同道参与共同开发:</span>65117032</li>
</ul>

    <h3>
    重症医学质量控制使用教程：    </h3>
    <ul>
        <li>未注册用户可以点击<span class="red">试用帐号登录，自由试用</span></li>
        <li>注册用户可以点击<span class="red">右上角用户名</span></li>
    <li>设置同事姓名，用以填报<span class="red">Apache-II评分表</span></li>
    <li>设置部门照片，用以<span class="red">修改网站的Logo</span>为本医院Logo</li>
    <li>填写数据时，如果无此项数据，可以留空，或者填写0</li>
</ul>

   <h3>
    本网站的优点：</h3>
<ul>
  <li>只要能连接上网络，任何设备都可使用</li>
    <li>自动进行<span class="red">各种量表及评分</span>的计算，并且保存数据</li>
    <li>图形化界面展示，数据显示一目了然</li>
    <li>多种<span class="red">数据统计</span>表达方式呈现</li>
    <li>支持数据下载到本地保存</li>
  <li>如有开发能力者，可提供源程序在本地电脑上共同开发</li>
</ul>



{% endblock %}


