<!--  
左侧菜单栏，左侧菜单，
提示实验者的一些常用工作

-->
<ul class="nav nav-list well">
        <li class="nav-header">
            我的统计数据
        </li>
        <li class="active">
            <a href="/lab/mylab">数据列表</a>
        </li>
        <li>
            <a href="#">录入</a>
        </li>
        <li>
            <a href="#">应用</a>
        </li>
        <li class="nav-header">
            在线统计工具
        </li>
        <li class="active">
            <a href="/lab/describe">一般数据描述</a>
        </li>
        <li class="active">
            <a href="/lab/ttest">t检验</a>
        </li>
        <li class="active">
            <a href="/lab/ttest">配对资料t检验</a>
        </li>
        <li class="active">
            <a href="/lab/ttest">卡方检验</a>
        </li>
        <li class="active">
            <a href="/lab/ttest">配对资料卡方检验</a>
        </li>
        <li class="active">
            <a href="/lab/ttest">多样本计量资料方差分析</a>
        </li>               
        <li>
            <a href="/lab/reverse">逆向工程</a>
        </li>
        <li>
            <a href="#">设置</a>
        </li>
        <li class="divider">
        </li>
        <li>
            <a href="#">帮助</a>
        </li>
</ul>

