{% extends 'base.html' %}

{% block content %}

<div class="col-md-2" id="left" style="position:sticky;top:0px;">
<!--
左侧导航菜单
-->
{% include "stats/left_menu.html" %}
</div>


<div class="col-md-10 main" id="main">
<!--
右侧主内容
-->

    <!--
    巨幕
    -->
	<div class="row clearfix">
    <div class="jumbotron">
                    <h1>
                        数据逆向
                    </h1>
                    <p>
                    从一个均值和标准差，逆向推出源数据。<br />
                    计量资料符合正态分布的正确书写方式,比如年龄:54.20± 7.30 <br />
                    54.20 就是年龄的均值，7.30就是年龄的标准差，<br />
                    现在可以通过算法模拟出来一组符合均值和标准差的数据。<br />
                    数据逆向仅用于学习研究算法，请勿作为他用！
                    </p>
                    <p>
                         <a class="btn btn-primary btn-large" href="#">偿试</a>
                    </p>
    </div>
    </div>


    <!--
    3个小分栏
    -->
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				例1:年龄 54.20± 7.30(20例)
			</h2>
			<p>
                取整数<br />
				[57, 48, 54, 42, 57, 49, 63, 49, 59, 52, 52, 56, 52, 54, 43, 74, 48, 59, 55, 62]
			</p>
			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
                例2:身高 147.9± 18.9cm (42例)
			</h2>
			<p>
                保留1位小数<br />
				[158.4, 109.9, 127.6, 140.1, 124.9, 149.7, 154.3, 148.1, 154.5, 167.3, 154.8, 146.5, 101.5, 150.1, 146.9, 121.9, 169.1, 146.9, 135.3, 142.6, 166.4, 118.0, 161.5, 137.1, 170.4, 148.8, 142.0, 155.0, 130.6, 166.5, 169.2, 135.4, 154.2, 177.1, 179.2, 162.9, 110.8, 132.6, 148.3, 160.1, 165.3, 170.0]
			</p>
			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				例2:C反应蛋白20.17± 5.23 (38例)
			</h2>
			<p>
                保留2位小数<br />
				[45.83, 110.83, 10.36, 1.51, -112.6, -45.66, -13.62, -76.06, 96.0, 60.01, 53.49, 56.84, 20.92, 55.81, 42.63, 40.49, 15.46, 89.61, 25.45, 37.5, 27.65, -38.77, -16.92, 55.13, 44.0, -21.23, -29.64, 82.85, 96.64, 40.9, 17.47, 7.47, -47.8, -28.12, 40.26, -51.23, 24.87, 48.25]
			</p>
			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>


    <!--
    巨幕
    -->
	<div class="row clearfix">
    <div class="jumbotron">
                    <h1>
                        数据逆向
                    </h1>
                    <p>
                    数据逆向需要消耗大量的计算机CPU资源和时间资源，仅用于学习研究算法，不提供在线服务，请谅解。
                    </p>
                    <p>
                         <a class="btn btn-primary btn-large" href="https://item.taobao.com/item.htm?spm=a2oq0.12575281.0.0.25911debFywUbz&ft=t&id=604162117334">实用数据分析咨询</a>
                    </p>
    </div>
    </div>





</div>


{% endblock %}


