{% extends 'icu/base.html' %}
{% block content %}
    <a href=/icu/qc/list>

    <a href=/icu/englishStudy>
        <button class="btn btn-info">英语学习</button>
    </a>
    <a href=CRRT_heparin>
        <button class="btn btn-info"> CRRT_heparin 肝素计算公式</button>
    </a>

<br>
<br>
<br>
<br>
<style type="text/css">
.red {
	color: #F00;
}
</style>
    <h3><strong>英语学习工具</strong>:</h3>
<ul>
  <li>学习英语怎么来？</li>
  <li>大家共同学习最好了</li>
  <li>因此开发了一套利用百度翻译功能进行自动按句翻译的程序</li>
  <li>输入中文，它自动识别，逐句翻译成英文</li>
  <li>输入英文……</li>
  <li>仅为试用版，因为百度的翻译是要收费的(+﹏+)</li>
</ul>

    <h3><strong>肝素计算工具</strong>:</h3>
<ul>
  <li>开发这个工具完全是因为科里个别同学的数学都还给老师了 (^_-)</li>
</ul>


{% endblock %}
