{% extends "base.html" %}


{% block content %}
    <div class="col-md-3">
    </div>
    <div class="col-md-6 main">

<!---404--->
<div class="error_new_bg pr">
    <div class="error_new_content">
        <div class="error_new pa">
            <div class="fl error_new_left"><img src="/static/images/404.jpg" width="100%"></div>
            <div class="fl error_new_right">
                <div class="error_detail">
                    <p class="error_p_title">哎呦~ 页面没有找到!</p>
                    <p class="error_p_con">※ 别急，工程师正在紧急处理,马上就好。</p>
                    <p class="error_p_con">※ 您可联系Email:dhs789520#qq#com,通知二当家的开发人员!</p>
                    <p class="error_p_con">※ 感谢您对在线知识库的支持,请您耐心等待!</p>
                </div>

                <p class="error_new_right_btn pr">
                    <a href="/" class="type-2 type-3">
                        <i> 返回首页 </i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>


    </div>

{% endblock %}
