{% extends "base.html" %}


{% block content %}
    <div class="col-md-3">
    </div>
    <div class="col-md-6 main">

        <h1 class="page-header">帮助信息</h1>
        <ol>

            <li>
                认识图标
                <ul>
                    <li>
                    <div class="add_note btn_tree" style="float:left"></div>
                    点我可以新建一个知识点
                    </li>
                    <li>
                    <div class="add_dir btn_tree" style="float:left"></div>
                    点我可以新建一个知识点分类
                    </li>
                    <li>
                    <div class="file btn_tree" style="float:left"></div>
                    我是一个文件,文件就是普通的知识点日记，在里面存放日记
                    </li>
                    <li>
                    <div class="unpack btn_tree" style="float:left"></div>
                    我是一个文件夹,文件夹是种特殊的笔记，因为它不仅可以当作知识点日记，
                    也可以被当作分类目录，在里面存放其它日记
                    </li>
                </ul>
            </li>

            <li>
            创建知识点
                <ul>
                    <li>
                    要想创建新的知识点或者知识库分类很简单，试试点击灰色的文件夹或者文件图标就可以了!
                    </li>
                    <li>
                    在不同的位置点击文件夹或者文件图标，就会在不同的位置创建知识点。
                    </li>
                </ul>
            </li>

            <li>
            修改知识点位置：
                <ul>
                    <li>
                        <img src="/static/images/help/drag.png"></img>
                        <br />
                        通过在PC端，您可以轻松的拖拽文件或者文件夹图标，将您的知识点重新归类!
                    </li>
                </ul>
            </li>

            <li>
                警告：以下需要慎重操作！！！
                <ul>
                    <li>
                    删除分类很危险，您将删除分类下面所有的笔记!
                    </li>
                    <li>
                    清空了回收站，您将再也找不回你的笔记！
                    </li>
                </ul>
            </li>






        </ol>


    </div>
{% endblock %} </p>
